body {
    background: linear-gradient(to bottom right, rgb(85, 120, 145), rgb(25, 65, 90))no-repeat center fixed;
}
.nav-wrapper{
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgb(45 ,45 ,45)
}

#intro{
    position: absolute;
    top: 45%;
    left: 45%;
    margin-top: -80px;
    margin-left: -90px;
    width: 20%;
    height: 20%;
}

h1{
    position: relative;
    font-family: 'Roboto Mono';
    text-shadow: 4px 4px 4px black;
    color: white;
    width: 100%
}

#getStartedBtn{
    position: relative;
    padding: 20px;
    width: 100%;
    border-color: white;
    border-radius: 5px;
    background-color: white;
}

/* Form Page */

#inputField{
    align-content: center;
    padding: 0%;
    padding-bottom: 2%;
}
#form {
    display: grid;
    padding: 10%;
    margin: 0 auto;
    grid-template-columns: 80%;
}

#addDataBtn, #resultsBtn {
    background-color: rgb(139, 139, 139);
    color: white;
    box-shadow: -5px 5px 5px black;
}

/* Results */
.grid-item { width: 25%; }
.grid-item--width2 { width: 50%; }

.card-content{
  height: 550px;
  width: 100%;
  background-color: rgb(45 ,45 ,45);
  box-shadow: 0px 5px 25px darkgrey;
  }

.break {
    width: 100px;
}

  
.input-field {
    margin: 0px;
    min-width: 100%;
    padding: 200px;
    padding: 30px !important;
  }

.row {
  display: grid;
  grid-template-columns: 50% 50%;
}
