body {
    background: linear-gradient(to bottom right, rgb(85, 120, 145), rgb(25, 65, 90))no-repeat center fixed;
    /* background-color: rgb(50, 50, 50) */
}
.nav-wrapper{
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgb(45 ,45 ,45)
}


#intro{
    position: absolute;
    top: 45%;
    left: 45%;
    margin-top: -80px;
    margin-left: -90px;
    width: 20%;
    height: 20%;
}
h1{
    position: relative;
    font-family: 'Roboto Mono';
    text-shadow: 4px 4px 4px black;
    color: white;
    width: 100%
}
#getStartedBtn{
    position: relative;
    padding: 20px;
    width: 100%;
    border-color: white;
    border-radius: 5px;
    background-color: white;
}

/* Form Page */

#inputField{
    align-content: center;
    padding: 0%;
    padding-bottom: 2%;
}
#form {
    display: grid;
    padding: 10%;
    padding-bottom: 0px;
    margin: 0 auto;
    grid-template-columns: 80%;
}

#addDataBtn, #resultsBtn {
    background-color: rgb(139, 139, 139);
    color: white;
    box-shadow: -5px 5px 5px black;
}



/* Results */
.grid-item { width: 25%; }
.grid-item--width2 { width: 50%; }

.card-content{
height: 550px;
width: 100%;
background-color: rgb(45 ,45 ,45);
box-shadow: 0px 5px 25px darkgrey;
}

.break {
    width: 100px;
}

  
.input-field {
    margin: 0px;
    min-width: 100%;
    padding: 200px;
    padding: 30px !important;
  }

.row {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* Animate.css */
/* To change the type of animation for the title, change the rubberBand class on the title on each page to one of the following class names: */
/* bounce, flash, pulse, rubberBand, shake, headShake, swing, tada, wobble, jello, bounceIn, bounceInDown, bounceInLeft, bounceInRight, bounceInUp, bounceOut, bounceOutDown, bounceOutLeft, bounceOutRight, bounceOutUp, fadeIn, fadeInDown, fadeInDownBig, fadeInLeft, fadeInLeftBig, fadeInRight, fadeInRightBig, fadeInUp, fadeInUpBig	fadeOut, fadeOutDown	fadeOutDownBig, fadeOutLeft	fadeOutLeftBig, fadeOutRight, fadeOutRightBig, fadeOutUp, fadeOutUpBig, flipInX, flipInY, flipOutX, flipOutY, lightSpeedIn, lightSpeedOut, rotateIn, rotateInDownLeft, rotateInDownRight, rotateInUpLeft, rotateInUpRight, rotateOut, rotateOutDownLeft, rotateOutDownRight, rotateOutUpLeft, rotateOutUpRight, hinge	jackInTheBox, rollIn, rollOut, zoomIn, zoomInDown, zoomInLeft, zoomInRight, zoomInUp, zoomOut, zoomOutDown, zoomOutLeft, zoomOutRight, zoomOutUp, slideInDown, slideInLeft, slideInRight, 	slideInUp, slideOutDown, slideOutLeft, slideOutRight, slideOutUp */